---
# tasks file for ansible

- name: Show Hostname
  debug:
    msg: "Hostname is {{ ansible_hostname }} {{ ansible_os_family }}"

- name: Update apt
  become: yes
  apt:
    cache_valid_time: 1800
    update_cache: yes
  when: ansible_os_family == 'Debian'

# roles/example/tasks/debian.yml
- name: Install Packages
  ansible.builtin.apt:
    name: "{{item}}"
    state: present
    autoclean: yes
    autoremove: yes
    force_apt_get: yes
    install_recommends: yes
    update_cache: yes
  loop: "{{ apt_pkgs }}"
  become: yes
  when: ansible_os_family == 'Debian'

- name: Install Snap Based Packages
  become: yes
  snap:
    name: "{{ item.name }}"
    channel: "{{ item.channel | default('stable') }}"
    classic: "{{ item.classic | default('no') }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ snap_pkgs }}"
  when: ansible_os_family == 'Debian'

- name: Copy G3 Functions to /usr/local/bin
  copy:
    src:  /home/vagrant/functions/bin
    dest: /usr/local/
    owner: root
    group: root
    mode: 0655
  become: yes
#

- name: Create Groups
  group:
    name: "{{ item.name }}"
    gid: "{{ item.gid }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ my_groups }}"
  become: yes

- name: Create Users
  user:
    name: "{{ item.name }}"
    uid: "{{ item.uid }}"
    group: "{{ item.group }}"
    shell: "{{ item.shell }}"
    comment: "{{ item.comment }}"
    home: "{{ item.home }}"
    password: "{{ item.password | password_hash('sha512', 'mysalt') }}"
  loop: "{{ users }}"
  become: yes

# Create the Services Directory
- name: Create the Services Directory
  file:
    path:  "/srv"
    owner: thedr
    group: thedr
    mode:
    state: directory
  become: yes

- name: Clone the NameD Service
  git:
    repo: "https://github.com/galaxy3-net/named.git"
    dest: /srv/named
    separate_git_dir: /srv/named.git
    version: master
  become: yes

- name: Fix Repo Ownership
  file:
    path: /srv
    owner: thedr
    group: thedr
    state: directory
    recurse: yes
  become: yes

- name: Create sbin file
  command:
    cmd:     cp /srv/named/usr/sbin/named /usr/sbin/named
    creates: /usr/sbin/named
  become: yes

- name: Copy Service Config File
  command:
    cmd: cp /srv/named/etc/supervisor/conf.d/named.conf /etc/supervisor/conf.d/.
    creates: /etc/supervisor/conf.d/named.conf
  become: yes
  when: ansible_os_family == 'Debian'

- name: Permissions on /sbin/ files
  file:
    path: /usr/sbin/named
    mode: 0777
  become: yes

- name: Start NameD Service
  supervisorctl:
    name: named
    #config: /srv/named/etc/supervisor/conf.d/named.conf
    state: restarted
  become: yes
  when: ansible_os_family == 'Debian'

- name: Remove resolv.conf
  file:
    path: /etc/resolv.conf
    state: absent
  become: yes

- name: Update Resolver /etc/resolv.conf
  lineinfile:
    path: /etc/resolv.conf
    line: '{{ item.line }}'
    state: '{{ item.state }}'
    create: yes
    backup: true
  loop:
    - { state: 'absent', line: 'options edns0' }
    - { state: 'absent', line: 'search attlocal.net' }
    - { state: "present", line: "nameserver 10.55.55.2" }
    - { state: "present",  line: "nameserver 8.8.8.8" }
    - { state: "present",  line: "options edns0" }
    - { state: "present",  line: "nameserver 8.8.8.8" }
    - { state: "present",  line: 'search moddell.galaxy3.net attlocal.net, empire.local' }
  become: yes

- name: Flush IPTAbles
  iptables:
    flush: yes
  become: yes
